<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tele.infra.comm.CommDao">
<!-- namespace :  mapper와 연결될 dao -->
<!-- xml에서 주석 단축키 : Ctrl + Shift + C -->

	<resultMap type="com.tele.infra.comm.CommDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			a.ifdrSeq,
			a.ifdrTitle,
			a.ifdrDesc,
			a.ifdrDateTime,
			a.ifdrDateTimeEdit,
			a.ifdrOpenNy,
			a.member_ifmmSeq,
			b.ifmmSeq,
			b.ifmmId,
			b.ifmmName,
			b.ifmmNickName
		from
			diary a
		left join
			member b on b.ifmmSeq = a.member_ifmmSeq 
		where 1=1
			and a.ifdrOpenNy = 0
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			a.ifdrSeq,
			a.ifdrTitle,
			a.ifdrDesc,
			a.ifdrDateTime,
			a.ifdrDateTimeEdit,
			a.ifdrOpenNy,
			a.member_ifmmSeq,
			b.ifmmSeq,
			b.ifmmId,
			b.ifmmName,
			b.ifmmNickName
		from
			diary a
		left join
			member b on b.ifmmSeq = a.member_ifmmSeq 
		where 1=1
			and ifdrSeq = #{ifdrSeq}
	</select>
	
</mapper>