<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tele.infra.diary.DiaryDao">
<!-- namespace :  mapper와 연결될 dao -->
<!-- xml에서 주석 단축키 : Ctrl + Shift + C -->

	<resultMap type="com.tele.infra.diary.DiaryDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.ifdrSeq
			,a.ifdrTitle
			,a.ifdrDesc
			,a.ifdrDateTime
			,a.ifdrDateTimeEdit
			,a.ifdrDelNy
			,a.ifdrOpenNy
			,a.member_ifmmSeq
		FROM diary AS a
		ORDER BY
			a.ifdrSeq DESC
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.ifdrSeq
			,a.ifdrTitle
			,a.ifdrDesc
			,a.ifdrDateTime
			,a.ifdrDateTimeEdit
			,a.ifdrDelNy
			,a.ifdrOpenNy
			,a.member_ifmmSeq
		FROM diary AS a
		WHERE 1 = 1
			AND ifdrSeq = #{ifdrSeq}
	</select>
	
	<insert id="insert">
		INSERT INTO diary (
			ifdrTitle
			,ifdrDesc
			,ifdrDateTime
			,ifdrDateTimeEdit
			,ifdrDelNy
			,ifdrOpenNy
			,member_ifmmSeq
		)
		VALUES (
			#{ifdrTitle}
			,#{ifdrDesc}
			,now()
			,now()
			,0
			,#{ifdrOpenNy}
			,#{member_ifmmSeq}
		)
	</insert>
	
</mapper>