<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tele.infra.login.LoginDao">
<!-- namespace :  mapper와 연결될 dao -->
<!-- xml에서 주석 단축키 : Ctrl + Shift + C -->

	<resultMap type="com.tele.infra.login.LoginDto" id="resultMapObj"></resultMap>
	
	<select id="selectOneId" resultMap="resultMapObj">
		select
			a.ifmmSeq
		    ,a.ifmmId
		from
			member a
		where 1=1
			AND a.ifmmSeq = #{ifmmSeq}
	</select>
	
	<select id="selectOneLogin" resultMap="resultMapObj">
		select
			a.ifmmSeq
			,a.ifmmName
		    ,a.ifmmId
		    ,a.ifmmPassword
		from
			member a
		where a.ifmmId= #{ifmmId} and a.ifmmPassword = #{ifmmPassword}
	</select>
	  
	<update id="update">
		update member
	  	set
			ifmmName = #{name}
		    ,ifmmNickName = #{nickName}
		    ,ifmmId = #{id}
		    ,ifmmPassword = #{password}
		    ,ifmmEmail = #{email}
		    ,ifmmBirth = #{birthday}
		    ,ifmmGender = #{gender}
		    ,ifmmPhone = #{telephone}
		    ,ifmmDatetimeEdit = now()
	  	where 1=1
	  		and ifmmSeq = #{ifmmSeq}
	</update>
	  
	<update id="uelete">
		update member
	  	set
	  		ifmmDelNy = 1
	  	where 1=1
	  		and ifmmSeq = #{ifmmSeq}
	</update>
	  
	<delete id="delete">
		delete from member
	  	where 1=1
	  		and ifmmSeq = #{ifmmSeq}
	</delete>
	
</mapper>