<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tele.infra.qna.QnaDao">
<!-- namespace :  mapper와 연결될 dao -->
<!-- xml에서 주석 단축키 : Ctrl + Shift + C -->

	<resultMap type="com.tele.infra.qna.QnaDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
		from
			qna a
		left join
			member b on b.ifmmSeq = a.member_ifmmSeq
		where 1=1
		
		<if test="shTitle != null and shTitle != ''">AND a.ifqnaTitle LIKE CONCAT('%', #{shTitle}, '%')</if>
	</sql>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
    select aa.* from (
        select
            a.ifqnaSeq,
            a.ifqnaTitle,
            a.ifqnaCate,
            a.ifqnaDesc,
            a.ifqnaDateTime,
            a.ifqnaDateTimeEdit,
            a.member_ifmmSeq,
            b.ifmmSeq,
            b.ifmmId,
            b.ifmmNickName
        <include refid="selectCommon"></include>
        Order By a.ifqnaSeq desc
    		) aa
    	limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>

	<insert id="insert">
		insert into qna(
			ifqnaTitle,
			ifqnaCate,
			ifqnaDesc,
			ifqnaDateTime,
			ifqnaDateTimeEdit,
			member_ifmmSeq
		)values(
			#{ifqnaTitle},
			#{ifqnaCate},
			#{ifqnaDesc},
			now(),
			now(),
			#{member_ifmmSeq}
		)
		<selectKey resultType="String" keyProperty="ifqnaSeq" order="AFTER">
			SELECT last_Insert_id()
		</selectKey>
	</insert>
	
</mapper>