<!DOCTYPE html>
<html lang="en">
<style>
#btnName {
	border:none;
	padding: 0px;
	background: none;
	cursor: pointer;
}
#btnEmotion{
	border:none;
	padding: 0px;
	background: none;
	cursor: pointer;
}
#btnScore{
	border:none;
	padding: 0px;
	background: none;
	cursor: pointer;
}
</style>
<!-- head S -->
<th:block th:replace="~{usr/v1/infra/include/head :: head}"></th:block>
<!-- head E -->

<body>

	<!-- Start Header -->
	<th:block th:replace="~{usr/v1/infra/include/header :: header}"></th:block>
	<!-- End Header -->

	<!-- Side bar -->
	<th:block th:replace="~{usr/v1/infra/include/aside :: aside}"></th:block>
	<!-- End Side bar-->

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>감정사전</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">홈</a></li>
					<li class="breadcrumb-item active">감정사전</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->

		<section class="section dashboard">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title fw-bold">감정사전</h5>

							<!-- Default Table -->
							<table class="table table-borderless">
								<thead>
									<tr>
										<th scope="col">유형 <button id="btnName"><i class="bi bi-arrow-down-up"></i></button></th>
										<th scope="col">감정 <button id="btnEmotion"><i class="bi bi-arrow-down-up"></i></button></th>
										<th scope="col">점수 <button id="btnScore"><i class="bi bi-arrow-down-up"></i></button></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td scope="row">긍정</td>
										<td>감사</td>
										<td>7</td>
									</tr>
									<tr class="table-light">
										<td scope="row">긍정</td>
										<td>희망</td>
										<td>7</td>
									</tr>
									<tr>
										<td scope="row">긍정</td>
										<td>만족</td>
										<td>6</td>
									</tr>
									<tr class="table-light">
										<td scope="row">긍정</td>
										<td>소망</td>
										<td>6</td>
									</tr>
									<tr>
										<td scope="row">긍정</td>
										<td>포근함</td>
										<td>6</td>
									</tr>
									<tr class="table-light">
										<td scope="row">긍정</td>
										<td>너그러움</td>
										<td>5</td>
									</tr>
									<tr>
										<td scope="row">긍정</td>
										<td>안심</td>
										<td>5</td>
									</tr>
									<tr class="table-light">
										<td scope="row">긍정</td>
										<td>차분함</td>
										<td>4</td>
									</tr>
									<tr>
										<td scope="row">긍정</td>
										<td>측은함</td>
										<td>3</td>
									</tr>
									<tr class="table-light">
										<td scope="row">긍정</td>
										<td>행복</td>
										<td>9</td>
									</tr>
									<tr>
										<td scope="row">긍정</td>
										<td>기쁨</td>
										<td>8</td>
									</tr>
									<tr class="table-light">
										<td scope="row">긍정</td>
										<td>사랑</td>
										<td>7</td>
									</tr>
									<tr>
										<td scope="row">긍정</td>
										<td>신남</td>
										<td>7</td>
									</tr>
									<tr class="table-light">
										<td scope="row">긍정</td>
										<td>즐거움</td>
										<td>7</td>
									</tr>
									<tr>
										<td scope="row">긍정</td>
										<td>열정</td>
										<td>6</td>
									</tr>
									<tr class="table-light">
										<td scope="row">긍정</td>
										<td>감탄</td>
										<td>5</td>
									</tr>
									<tr>
										<td scope="row">긍정</td>
										<td>자랑</td>
										<td>3</td>
									</tr>
									<tr class="table-light">
										<td scope="row">부정</td>
										<td>그리움</td>
										<td>3</td>
									</tr>
									<tr>
										<td scope="row">부정</td>
										<td>부끄러움</td>
										<td>3</td>
									</tr>
									<tr class="table-light">
										<td scope="row">부정</td>
										<td>소심함</td>
										<td>3</td>
									</tr>
									<tr>
										<td scope="row">부정</td>
										<td>긴장</td>
										<td>4</td>
									</tr>
									<tr class="table-light">
										<td scope="row">부정</td>
										<td>뉘우침</td>
										<td>4</td>
									</tr>
									<tr>
										<td scope="row">부정</td>
										<td>몰이해</td>
										<td>4</td>
									</tr>
									<tr class="table-light">
										<td scope="row">부정</td>
										<td>피곤</td>
										<td>4</td>
									</tr>
									<tr>
										<td scope="row">부정</td>
										<td>걱정</td>
										<td>5</td>
									</tr>
									<tr class="table-light">
										<td scope="row">부정</td>
										<td>따분함</td>
										<td>5</td>
									</tr>
									<tr>
										<td scope="row">부정</td>
										<td>후회</td>
										<td>5</td>
									</tr>
									<tr class="table-light">
										<td scope="row">부정</td>
										<td>슬픔</td>
										<td>6</td>
									</tr>
									<tr>
										<td scope="row">부정</td>
										<td>실망</td>
										<td>6</td>
									</tr>
									<tr class="table-light">
										<td scope="row">부정</td>
										<td>역겨움</td>
										<td>6</td>
									</tr>
									<tr>
										<td scope="row">부정</td>
										<td>포기</td>
										<td>6</td>
									</tr>
									<tr class="table-light">
										<td scope="row">부정</td>
										<td>고독</td>
										<td>7</td>
									</tr>
									<tr>
										<td scope="row">부정</td>
										<td>두려움</td>
										<td>7</td>
									</tr>
									<tr class="table-light">
										<td scope="row">부정</td>
										<td>외로움</td>
										<td>7</td>
									</tr>
									<tr>
										<td scope="row">부정</td>
										<td>좌절</td>
										<td>7</td>
									</tr>
									<tr class="table-light">
										<td scope="row">부정</td>
										<td>불안</td>
										<td>8</td>
									</tr>
									<tr>
										<td scope="row">부정</td>
										<td>우울함</td>
										<td>9</td>
									</tr>
									<tr class="table-light">
										<td scope="row">부정</td>
										<td>당황</td>
										<td>4</td>
									</tr>
									<tr>
										<td scope="row">부정</td>
										<td>바람</td>
										<td>4</td>
									</tr>
									<tr class="table-light">
										<td scope="row">부정</td>
										<td>짜증</td>
										<td>5</td>
									</tr>
									<tr>
										<td scope="row">부정</td>
										<td>미움</td>
										<td>6</td>
									</tr>
									<tr class="table-light">
										<td scope="row">부정</td>
										<td>반감</td>
										<td>6</td>
									</tr>
									<tr>
										<td scope="row">부정</td>
										<td>화</td>
										<td>7</td>
									</tr>
								</tbody>
							</table>
							<!-- End Default Table Example -->
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>
	<!-- End #main -->

	<!-- Start Footer -->
	<th:block th:replace="~{usr/v1/infra/include/footer :: footer}"></th:block>
	<!-- End Footer -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script
		src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script
		src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script
		src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/chart.js/chart.umd.js"></script>
	<script
		src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/echarts/echarts.min.js"></script>
	<script
		src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/quill/quill.js"></script>
	<script
		src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script
		src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/tinymce/tinymce.min.js"></script>
	<script
		src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="/usr/v1/template/NiceAdmin-1.0.0/assets/js/main.js"></script>

</body>

</html>