<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{usr/v1/infra/include/head :: head}"></th:block>

<body>

	<!-- ======= Header ======= -->
	<th:block th:replace="~{usr/v1/infra/include/header :: header}"></th:block>
	<!-- End Header -->

	<!-- ======= Sidebar ======= -->
	<th:block th:replace="~{usr/v1/infra/include/aside :: aside}"></th:block>
	<!-- End Sidebar-->

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>일기장</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">홈</a></li>
					<li class="breadcrumb-item active">일기장</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->

		<section class="section dashboard">
			<form name="form" method="post" action="/v1/infra/diary/diaryUsrList">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body" style="padding-top:30px;">
								<div id='calendar'></div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</section>

	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<th:block th:replace="~{usr/v1/infra/include/footer :: footer}"></th:block>
	<!-- End Footer -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script
		src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script
		src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script
		src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/chart.js/chart.umd.js"></script>
	<script
		src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/echarts/echarts.min.js"></script>
	<script
		src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/quill/quill.js"></script>
	<script
		src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script
		src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/tinymce/tinymce.min.js"></script>
	<script
		src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="/usr/v1/template/NiceAdmin-1.0.0/assets/js/main.js"></script>
	
	<!-- Calendar -->
	<script src='/usr/v1/fullcalendar-6.1.15/dist/index.global.js'></script>
	<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.14/index.global.min.js'></script>
	<script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6/dayjs.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
	    var calendarEl = document.getElementById('calendar');
	    
	    $.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/v1/infra/diary/diaryUsrProc"
			,success: function(response) {
				if(response.rt == "success") {
					var events = response.list.map(function(diary) {
						var date = new Date(diary.ifdrDateTime);
						var formattedDate = date.toISOString().split('T')[0];
						return {
							title: diary.ifdrTitle,
							start: formattedDate,
							ifdrSeq: diary.ifdrSeq
						};
					});
					
					var calendar = new FullCalendar.Calendar(calendarEl, {
				    	expandRows: true,
				    	dayMaxEvents: true,
				    	initialView: 'dayGridMonth',
				    	locale: "ko",
				    	headerToolbar: {
				    		right : 'addEventButton',
				    		center : 'title',
				    		left : 'today prev next'
				    	},
				    	buttonText:{
				    		today : '현재날짜'
				    	},
				    	customButtons: {
			                addEventButton: {
			                    text : "일기 추가",
			                    click : function(){
			                    	window.location.href = "/v1/infra/diary/diaryUsrForm";
			                    }
			                }
			            },
			            events: events,
			            eventClick: function(info){
			            	var diarySeq = info.event.extendedProps.ifdrSeq;
			            	window.location.href = "/v1/infra/diary/diaryUsrMForm?ifdrSeq=" + diarySeq;
			            }
			        });
				    calendar.render();
				} else {
// 					by pass
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	    
	    
	    
	  });
	</script>
	
</html>