<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{/usr/v1/infra/include/head :: head}"></th:block>

<body>

  <!-- ======= Header ======= -->
  <th:block th:replace="~{/usr/v1/infra/include/header :: header}"></th:block>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <th:block th:replace="~{/usr/v1/infra/include/aside :: aside}"></th:block>
  <!-- End Sidebar-->

  <main id="main" class="main">

		<div class="pagetitle">
			<h1>Ai 활동추천</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/v1/infra/index/indexUsrView">Home</a></li>
					<li class="breadcrumb-item active">Ai 활동추천</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->


	</main>
	<!-- End #main -->

  <!-- ======= Footer ======= -->
  <th:block th:replace="~{/usr/v1/infra/include/footer :: footer}"></th:block>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/quill/quill.js"></script>
  <script src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/usr/v1/template/NiceAdmin-1.0.0/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/usr/v1/template/NiceAdmin-1.0.0/assets/js/main.js"></script>

</body>

</html>